<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Cookie|Nanum+Myeongjo:400,700,800|Old+Standard+TT:400,400i,700|Prata|Rancho|Rochester|Satisfy&display=swap" rel="stylesheet">
  <title></title>
  
  
  <!--[if gte mso 9]>
    <style data-immutable>
      table td { border-collapse: collapse; }
    </style>
  <![endif]-->
  
  <style data-immutable="">
      @media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
      .reply { padding:5px 0 15px 0 !important }
      .mobile-wide { width: 100% !important; }
      .content { padding-left: 20px !important; padding-right: 20px !important; }
      .content.daily-rewards { padding-left: 0!important; padding-right: 0!important; }
      .reason { padding-top: 10px !important; }
      .group-name { font-size:12px !important; }
      .group-heading, .more-unread-in-group { white-space: normal !important; }
      .management-link { display: block; float: left; clear: both; margin-bottom: 5px; }
      .logos { text-align: left !important; padding: 0 16px !important; }
      .cta { padding-left: 5px !important; padding-right: 5px !important; }
      .footer { padding-top: 28px; text-align: left !important; }
      .msft-address { text-align: left !important; }
      .mobile-daily-rewards--suggested { width: 150px!important; }
      .mobile-daily-rewards--subhead { text-align: left!important; padding-left: 20px!important; }
      
    }
  </style>
  